.calorie-modal-container, .timer-modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.calorie-modal-contents, .clock-container, .clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #4682B4;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
}

.footer-container {
  background-color: #4682B4;
  display: flex;
  justify-content: space-between;
  padding: .75rem 3rem;
}

.icon-hover {
  transition: all 0.45s ease;
}

.icon-hover:hover {
  transform: scale(1.3);
}

.active-icon {
  transform: scale(1.3);
}

.days-container {
  text-align: center;
  background-color: #4682B4;
  color: white;
}

.clear {
  height: 16px;
  background-color: white;
}

.stick-to-top {
  position: sticky;
  top: 73px;
  z-index: 1000;
}

.recommended-cal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4682B4;
  font-size: 1.25rem;
}

.update-and-delete {
  display: flex;
  justify-content: flex-end;
}

.exerciseRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.day {
  padding: 0 0.2rem;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.day:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0px 0px 5px #4682B4;
}

.active {
  background-color: #e0850d;
}

.calorie-form {
  text-align: right;
}

.calorie-modal-contents {
  background-color: #eaf3ff;
  flex-direction: column;
  text-align: center;
  border: 3px solid #4682B4;
  box-shadow: 0 0 25px #4682B4;
  border-radius: 20px;
  padding: 3rem 1rem;
  margin: 1rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.clock-container {
  flex-direction: column;
  margin-top: 50px;
}

.clock {
  width: 34vh;
  height: 34vh;
  border-radius: 50%;
  border-style: solid;
}

.timer-modal-background {
  cursor: pointer;
}

.timer-modal-content {
  cursor: default;
  position: relative;
  background-color: white;
  width: 300px;
}

.close-timer {
  cursor: pointer;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #dc3545;
  position: absolute;
  top: 5px;
  right: 10px;
  color: #dc3545;
}

.legend-text {
  font-size: 2rem;
  font-weight: 600;
}

.set-time {
  padding: 0 3rem;
  font-size: 2rem;
}

.timer-icon {
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.45s ease;
}

.timer-icon:hover {
  transform: scale(1.3);
}

.timer-icon.reset:hover {
  transform: rotate(180deg) scale(1.3);
  color: #275377;
}

.time-input {
  width: 75px;
  height: 75px;
  font-size: 3rem;
  text-align: center;
  border: 1px solid black;
  z-index: 1000;
}

.time-seperator {
  font-size: 3rem;
  margin-bottom: 0;
}

.choose-screen-button {
  font-size: 2rem;
  width: 75%;
  padding: 4rem 1rem;
  margin: auto;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.size-icon {
  font-size: 2.5rem;
}

.size-icon-sm {
  font-size: 2rem;
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.blue {
  color: #4682B4;
}

.green {
  color: #00e600;
}

.white {
  color: white;
}

.red {
  color: #cc0000;
}

.orange {
  color: #f39e2d;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 450px) {
  .responsive-centering {
    justify-content: center;
  }
  .responsive-x-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .choose-screen-button {
    font-size: 2rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .max-w-99 {
    max-width: 99%;
  }
  .max-w-100 {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */